#		      DOCSIG CONFIGURATION FILE
#
# The configuration file uses Lets Encrypt to generate certificates.
# The keys "domain" and "email" must be set to appropriate values
# and a DNS server must be configured so that the domain points to
# the server's IP address.  While the procedure may vary between
# domain-name registrars, the result is to set a DNS server's 'A'
# or 'AAAA' entry to an appropriate IP address for a given domain name.
#

# The following two entries must be changed:
#
domain = EXAMPLE.COM
email = nobody@EXAMPLE.COM
#
# The following entry can be changed from NORMAL to STAGED for
# testing. When set to STAGED, Let's Encrypt will generate an
# invalid certificate, which shows that DOCSIG and the server's
# DNS server were configured correctly. When certMode is NORMAL,
# Let's Encrypt will impose rate limits and for testing that can
# be a problem.
#
certMode = NORMAL

sslType = TLS
helperPort = 80
port = 443

#
# The defaults should be just fine.  Increase the values if the
# load on the server is much higher than expected.
#
backlog = 30
nthreads = 50

certificateManager = AcmeClient

# Set this to the timezone that should be used by the
# server.  The value affects the time of day at which
# the date changes.  For example. use America/Los_Angeles
# for the west coast of the U.S.
#
timezone = UTC

# When timeoffset is 0, whenever a new certificate is available, the
# server will be restarted at midnight local time.  The time offset
# is the delay after midnight in seconds.
# 
timeOffset = 0

certName = docsig
keyStoreFile = /usr/app/keystore.jks
keyStorePassword = changeit
keyPassword = changeit

interval = 5
stopDelay = 5
allowSelfSigned = false;
allowLoopback = false;

#
# Change to true for debugging
#
trace = false
stackTrace = false

# There are some additioal parameters you might want to add
# and these are described in the documention. For example,
# you can change the color scheme used in web pages.
