#		      DOCSIG CONFIGURATION FILE
#
# This configuration file uses the "default" certificate manager to
# manage certificates for HTTPS. That certificate manager creates
# self-signed certificates.  The value of "domain" should be changed
# to the host name of the server.  For testing on a single system,
# "localhost" can be used.

domain = localhost

#
sslType = TLS
helperPort = 80
port = 443


#
# The defaults should be just fine.  Increase the values if the
# load on the server is much higher than expected.
#
backlog = 30
nthreads = 50

certificateManager = default

# When timeoffset is 0, whenever a new certificate is available, the
# server will be restarted at midnight local time.  The time offset
# is the delay after midnight in seconds.
# 
timeOffset = 0

certName = docsig
keyStoreFile = /usr/app/keystore.jks
keyStorePassword = changeit
keyPassword = changeit

interval = 5
stopDelay = 5

#
# Change to true for local testing when HTTPS is needed to
# read a document.
#
allowSelfSigned = false;
allowLoopback = false;

#
# Change to true for debugging
#
trace = false
stackTrace = false

# There are some additioal parameters you might want to add
# and these are described in the documention. For example,
# you can change the color scheme used in web pages.
