#		      DOCSIG CONFIGURATION FILE
#
# This is the configuration file that will be automatically be
# installed if none is present, and can be subsequently modified.
# There are several alternate configuration files available at
# <https://github.com/BillZaumen/docsig>, specifically
# acme.config, default.config, and manual.config to handle specific
# cases (some of these require some minor editing). If this configuration
# file is not modified, DOCSIG will use HTTP on port 80.
#
port = 80

#
# The defaults should be just fine.  Increase the values if the
# load on the server is much higher than expected.
#
backlog = 30
nthreads = 50


#
# Change to true for debugging
#
trace = false
stackTrace = false

# There are some additioal parameters you might want to add
# and these are described in the documention. For example,
# you can change the color scheme used in web pages.
