#		      DOCSIG CONFIGURATION FILE
#
# This is the configuration file that will be automatically be
# installed if none is present, and can be subsequently modified.
# There are several alternate configuration files available at
# <https://github.com/BillZaumen/docsig>, specifically
# acme.config, default.config, and manual.config to handle specific
# cases (some of these require some minor editing). If this configuration
# file is not modified, DOCSIG will use HTTP on port 80.
#
# For production use with HTTPS, uncomment the following three
# directives by removing the initial '#' and remove the line "port =
# 80" or place a '#' at its start.
#
# sslType = TLS
# helperPort = 80
# port = 443
port = 80

#
# The defaults should be just fine.  Increase the values if the
# load on the server is much higher than expected.
#
backlog = 30
nthreads = 50

#
# Change localhost to an appropriate domain name and change the email
# address to a valid one that can be used for administrative messages
# from a certificate authority.  To manage certificates directly, set
# certificateManager to "null".  In this case, you will have to set up
# keystore.jks so it contains your certificate.# To use Lets Encrypt
# as a certificate authority and automatically get a certificate, set
# certificateManager to "AcmeClient", in both cases without the double
# quotes.  Also modify your DNS server's 'A' or 'AAAA' record so that
# the domain points to the IP address of your server. The certificate
# manager is ignored if sslType is missing or null. The default
# certificate manager creates self-signed certificates, and these
# should only be used during testing.
#

domain = localhost
certificateManager = default
email = nobody@example.com

# When timeoffset is 0, whenever a new certificate is available, the
# server will be restarted at midnight local time.  The time offset
# is the delay after midnight in seconds.
# 
timeOffset = 0

certName = docsig
keyStoreFile = /usr/app/keystore.jks
keyStorePassword = changeit
keyPassword = changeit

interval = 5
stopDelay = 5

#
# Change to true for local testing when HTTPS is needed to
# read a document.
#
allowSelfSigned = false;
allowLoopback = false;

#
# Change to true for debugging
#
trace = false
stackTrace = false

# There are some additioal parameters you might want to add
# and these are described in the documention. For example,
# you can change the color scheme used in web pages.
