#		      DOCSIG CONFIGURATION FILE
#
# For manual configuration, one must create a keystore
# with a single alieas named servercert containing the
# server's certificate and private key. The certificate
# should provide a distinguished name with CN=DOMAIN,
# where DOMAIN is the server's domain name.  In this
# case the keystore is maintained by an administrator.
# When a certificate is added or updated, the adminstrator
# should copy to the keystore to /usr/app/keystore.jks in
# the docsig container, and then restart the container.
# If the container is running and named 'docsig, the command
#
#   docker cp KEYSTORE docsig:/usr/app/keystore.jks
#
# followed by
#
#   docker-compose restart
#
# The keystore passwords are needed for DOCSIG to use the
# certificates. If these are not "changeit", then the
# following two entries must be modified
#
keyStorePassword = changeit
keyPassword = changeit

sslType = TLS
helperPort = 80
port = 443

#
# The defaults should be just fine.  Increase the values if the
# load on the server is much higher than expected.
#
backlog = 30
nthreads = 50

certificateManager = null
keyStoreFile = /usr/app/keystore.jks

# Set this to the timezone that should be used by the
# server.  The value affects the time of day at which
# the date changes.  For example. use America/Los_Angeles
# for the west coast of the U.S.
#
timezone = UTC

# When timeoffset is 0, whenever a new certificate is available, the
# server will be restarted at midnight local time.  The time offset
# is the delay after midnight in seconds.
# 
timeOffset = 0

interval = 5
stopDelay = 5
allowSelfSigned = false;
allowLoopback = false;

#
# Change to true for debugging
#
trace = false
stackTrace = false

# There are some additioal parameters you might want to add
# and these are described in the documention. For example,
# you can change the color scheme used in web pages.
